@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap");

$font-family: "Merriweather", serif;
$h1: 4rem;
$h2: 3rem;
$h3: 2.5rem;
$h4: 2rem;
$h5: 1.6rem;

$textbold: 600;
$textregular: 400;
$textthin: 200;

h1, h2, h3, h4,h5 {
  font-family: $font-family;
}

h1{
    font-size: $h1;
}

h2{
    font-size: $h2;
}

h3{
    font-size: $h3;
}

h4{
    font-size: $h4;
}

h5{
    font-size: $h5;
}

